language: node_js
node_js:
  - '10'
branches:
  only:
    - dev
cache:
  yarn: true
script:
  - git config --global user.name "${GH_NAME}"
  - git config --global user.email "${GH_EMAIL}"
  - echo "machine github.com login ${GH_NAME} password ${GH_TOKEN}" > ~/.netrc
  - yarn && export GIT_USER="${GH_NAME}" && yarn deploy

deploy:
  local_dir: build
  provider: pages
  skip_cleanup: true
  github_token: $GH_TOKEN
  keep_history: true
  on:
    branch: dev
  target_branch: master
